<p>
  <mat-toolbar class="lambda-toolbar-style lookmate_header">
    <div></div>
    <a class="helper_link" href="https://play.google.com/store/apps/details?id=in.lookmate.lookmate&ah=g6U-NnHvyrqQUcoXQ26u0iCxglA"><span class="lookmate_header_text">You should try it once..</span><span class="lookmate_header_right_icon"></span></a>
  </mat-toolbar>
</p>

<div class="card-container">
  <mat-card class="example-card" *ngIf="(screenPictureInfoObject && screenPictureInfoObject.pictureDetails); else imageLoading">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + profilePicture + ')'}" ></div>
      <mat-card-title>{{ screenPictureInfoObject.pictureDetails.user.nick_name }}</mat-card-title>
      <mat-card-subtitle>{{ screenPictureInfoObject.pictureDetails.location }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class = "lm-mat-card-image" [src]="imageSourceAddress + screenPictureInfoObject.pictureDetails.picture">
    <mat-card-content>
      <p>
        {{ screenPictureInfoObject.pictureDetails.caption }}
      </p>
    </mat-card-content>
    <div class="comment_controls" *ngIf="_DesktopAppearanceService.protectAndCheckSinglePicSingleUserSingleComment(importedPictureId); else doneComment">
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>Leave a comment</mat-label>
        <textarea matInput [(ngModel)]="pictureComment" placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
      <button mat-stroked-button color="primary" class="postButton" (click)="submitComment()">Post</button>
    </div>
    <ng-template #doneComment>
      <span> You have commented. </span>
    </ng-template>
  </mat-card>
  <ng-template #imageLoading>
    <mat-progress-spinner class="lm-progress-spinner" mode="indeterminate" color="warn" value=20 *ngIf="pictureLoading else imageNotFound">
    </mat-progress-spinner>
  </ng-template>

  <div class="base-store-icon">
    <div class="base-store-text">Get it now and post your pictures...</div>
    <a class="base-store-android-icon" href="https://play.google.com/store/apps/details?id=in.lookmate.lookmate&ah=g6U-NnHvyrqQUcoXQ26u0iCxglA">
      <img class="android-icon" src="assets/image/appstore-android.svg" alt="google play">
    </a>
  </div>

  <ng-template #imageNotFound>
    <span> Taking longer than expected, or image not found. </span>
  </ng-template>
</div>
