<header class="lambda-toolbar-style"></header>
<main>
    <article class="article-left-margin">
        <div class="lookmate_icon">
        </div>
        <div class="site-text">
            <h2 class="site-headline font-weight-bold">Want to comment anonymously to someone nearby ?</h2>
            <div class="site-tagline">Shouldn't be there is something else, other than facebook or Instagram ? Now just
                say hello anonymously and make friend in real world. Get started now!</div>
            <li style="list-style: none;" class="list-inline-item"><a href="#"><img class="android-icon" src="assets/image/appstore-android.svg" alt="google play"></a></li>
        </div>
        
    </article>
    <aside>
        <div class="android-image"></div>
    </aside>
</main>
<footer>
    <div class="horizontal-center-position">
        <h2 class="footer-text">Ready to serve you the `Anonymity`</h2>
    </div>
</footer>